.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    &__card {
        background-color: var(--color-light);
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
}