.top {
    background-color: var(--color-light);
    padding: 10px;
    margin: 15px 0;
    &__select {
        padding: 5px 10px;
        border: 1px solid var(--color-secondary);
        border-radius: .35rem;
        font-size: 16px;
    }
    &__image {
        text-align: center;
        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
    }
    &__title {
        font-size: 2rem;
        text-align: center;
    }
}